{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Free Bootstrap Themes by Zerotheme dot com - Free Responsive Html5 Templates">
    <meta name="author" content="https://www.Zerotheme.com">

    <title>Kingfisher</title>


    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">



    <!-- Custom CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Owl Carousel Assets -->
    <link href="{% static 'owl-carousel/owl-carousel.css' %}" rel="stylesheet">
    <!-- <link href="owl-carousel/owl.theme.css" rel="stylesheet"> -->

    <!-- jQuery and Modernizr-->
    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>


</head>

<body>
    <!--Top-->
    <header class="main-header">

        <div class="container text-center">
            <a class="site-branding" href="{% url 'main:home' %}">
                <h1 class="site-title">
                    LIFE ANIMALS
                </h1>
                <p class="site-description">
                    Vestibulum posuere molestie risus
                </p>
            </a><!-- .site-branding -->
        </div>
        <center>
            <div class="row">

                <div class="col-sm-12">
                    <form action="{% url 'main:sort_by_title' %}" method="get">
                        <div class="row container">
                            <div class="col-sm-12">
                                <input name="title" type="text" class="form-control" id="search"
                                    placeholder="Search for products">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </center>

        <!--Navigation-->
        <div id="menu-wrapper">
            <nav id="menu" class="navbar">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
                    </div>
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="{% url 'main:home' %}">Home</a></li>

                            <li class="dropdown"><a href="archive.html" class="dropdown-toggle"
                                    data-toggle="dropdown">Category</a>
                                <div class="dropdown-menu" style="margin-left: -100.625px;">

                                    <div class="dropdown-inner">
                                        <ul class="list-unstyled">
                                            {% for category in all_categories|slice:':4' %}
                                            <li><a href="{% url 'main:sort_by_category' category.slug %}">
                                                    {{category.name}}
                                                </a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                        <ul class="list-unstyled">
                                            {% for category in all_categories|slice:'4:8' %}
                                            <li><a href="{% url 'main:sort_by_category' category.slug %}">
                                                    {{category.name}}
                                                </a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                        <ul class="list-unstyled">
                                            {% for category in all_categories|slice:'8:12' %}
                                            <li><a href="{% url 'main:sort_by_category' category.slug %}">
                                                    {{category.name}}
                                                </a>
                                            </li>
                                            {% endfor %}
                                        </ul>

                                    </div>
                                </div>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    sort
                                </a>
                                <div class="dropdown-menu">
                                    <div class="dropdown-inner">
                                        <ul class="list-unstyled">
                                            <li><a href="#">by Like</a></li>
                                            <li><a href="#">by Rating</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li><a href="{% url 'main:list_articles' %}">Blog</a></li>
                            <li><a href="{% url 'accounts:contact' %}">Contact</a></li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    {% if request.user.is_authenticated %}
                                    {{ request.user.username }}
                                    {% else %}
                                    Anonymous
                                    {% endif %}
                                </a>
                                <div class="dropdown-menu">
                                    <div class="dropdown-inner">
                                        <ul class="list-unstyled">
                                            {% if request.user.is_authenticated %}
                                            <li><a href="{% url 'account:logout' %}">Logo ut</a></li>
                                            {% else %}
                                            <li><a href="{% url 'account:login' %}">Log in</a></li>
                                            <li><a href="{% url 'account:register' %}">Register</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

    </header>
    <!-- /Section: intro -->
    {% block content %}

    {% endblock content %}

    <footer class="main-footer">
        <div class="wrap-footer">
            <div class="container">
                <ul class="list-inline top-link link">
                    <li><a href="https://www.facebook.com/">Facebook</a></li>
                    <li><a href="https://www.instagram.com/">Instagram</a></li>
                    <li><a href="https://twitter.com/">Twitter</a></li>
                    <li><a href="https://www.google.com/">Google</a></li>
                    <li><a href="https://www.pinterest.com/">Pinterest</a></li>
                </ul>
                <div class="copyright">
                    <span>Copyright © 20xx - Designed by <a href="#">Zerotheme</a></span>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer -->
    <!-- JS -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/html5shiv.js' %}"></script>
    <script src="{% static 'js/respond.min.js' %}"></script>




    <script>
        $(function () {
            $('#menu-wrapper').height($("#menu").height());

            $('#menu').affix({
                offset: { top: $('#menu').offset().top }
            });
        });
    </script>
</body>

</html>