{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- /////////////////////////////////////////Content -->
<div id="page-content">

	<div class="box-content">
		<div class="container-fluid">

			<!-----------------Content-------------------->
			<article class="single-post">
				<div class="wrap-post"><!--Start Box-->
					<div class="entry-header text-center">
						<h1 class="entry-title">{{object.title}}</h1>
						<span class="entry-meta">
							<ul class="list-inline link">
								<li>By <a href="#">{{object.author}}</a></li>
								<li><a href="#">{{object.published}}</a></li>
								<li><a href="#">{{object.comments.count}} comments</a></li>
							</ul>
						</span>
					</div>
					<div class="post-thumbnail-wrap">
						<div class="portfolio-box">
							<img src="{{object.image.url}}" class="img-responsive" alt="">
						</div>
					</div>
					<div class="entry-content">
						{{object.body}}
					</div>
				</div>
			</article>

		</div>
		<div class="container-fluid">
			<div class="row">
				<!-----------------Comments-are-------------------->
				<div class="comments-are">
					<div id="comment">
						<form name="formcomment" method="post" action="{% url 'main:comment' object.id %}">
							{% csrf_token %}
							<div class="row">
								<div class="col-md-6">
									<h3>Leave a Reply</h3>
									<span>Your email address will not be published. Required fields are marked </span>
									<div class="form-group">
										<input type="text" class="form-control input-lg" name="name" id="name"
											placeholder="Your Name" required="required" />
									</div>
									<div class="form-group">
										<textarea name="comment" id="message" class="form-control" rows="4" cols="25"
											required="required" placeholder="Message"></textarea>
									</div>
								</div>
								<div class="col-md-6">
									<h4 class="mb-4">{{object.comments.count}} review for {{object.title|title}}
									</h4>

									{% for comment in object.comments.all %}
									<div class="media mb-4">
										<img src="{% static 'images/default_person_image.jpg' %}" alt="Image"
											lass="img-fluid mr-3 mt-1" style="width: 45px;">
										<b>
										{% if comment.user == None %}
										Anonymus user
										{% else %}
										{{comment.user.username}}
										</b>
										{% endif %}
										<br>
										<small> - <i>{{comment.published}}</i></small>
										<div class="media-body">
											<p>{{comment.comment}}</p>

											<div class="float-end">
												<a href="{% url 'main:delete_comment' comment.id %}">
													<i class="fa fa-trash" aria-hidden="true"></i>
												</a>
											</div>

										</div>
									</div>
									{% endfor %}
								</div>
							</div>
							<button type="submit" class="btn btn-skin btn-sm" name="submitcomment">send</button>
						</form>

					</div>
				</div>

			</div>

		</div>

	</div>

</div>

{% endblock content %}